* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gap-key: 12px;
  --padding-keypad: 4px;
  --bg-main: #eae1d2;
  --bg-gap-key: #7e7f87;
  --round-key: 6px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: ponter;
  background-color: #372549;
}

h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
  font-style: normal;
  color: antiquewhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  padding: 1rem 0;
  color: #989483;
  font-size: 0.8rem;
}

#keys {
  width: auto;
  display: inherit;
  flex-direction: column;
  gap: var(--gap-key);
  background-color: var(--bg-main);
  padding: 4rem 1.5rem 3rem;
  border-radius: var(--round-key);
  box-shadow: 0 6px 6px #151111, 0 6px 12px rgba(0, 0, 0, 0.3);
}

#keypad {
  display: inherit;
  flex-direction: column;
  background-color: var(--bg-gap-key);
  border-radius: var(--round-key);
  gap: var(--gap-key);
  padding: var(--padding-keypad);
}

kbd {
  font-size: 2rem;
  font-style: oblique;
}

.controls {
  background-color: var(--bg-gap-key);
  border-radius: var(--round-key);
  padding: var(--padding-keypad);
}

.row,
.controls {
  display: inherit;
  flex-direction: row;
  gap: var(--gap-key);
}

.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100px;
  aspect-ratio: 1;

  border-radius: var(--round-key);

  background: #f8f7ff;
  border: 1px solid #aaa;

  box-shadow: 0 4px 0 #999, 0 6px 10px rgba(0, 0, 0, 0.3);

  color: #333;

  transition: all 0.1s ease;
}

.key:active,
.key.playing {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #999, 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* change light colors */
.key.pink {
  background-color: pink;
  box-shadow: 0 0 12px hotpink;
}

.key.yellow {
  background-color: khaki;
  box-shadow: 0 0 12px goldenrod;
}

.controls .key kbd {
  font-size: 0.5rem;
  text-align: center;
}

.startButton {
  display: inherit;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #eae1d2;
}

.startButton img {
  padding-bottom: 4px;
}

.muteButton {
  background-color: #4dddd6;
}

.lightButton {
  background: #f4d35e;
}

.turnOff {
  background-color: #303030;
  color: rgb(152, 154, 154);
}

/* Indicator box */
.indicator-container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
}

.light-indicator {
  width: 24px;
  height: 12px;
  background-color: greenyellow;
  border: 1px solid gainsboro;
}

.message-box {
  width: 48px;
  padding: 4px;
  border-radius: var(--round-key);
  background-color: var(--bg-gap-key);
  color: white;
  text-align: end;
}
